site_name: "Carter's Stellar Towers Docs (Dev)"
site_url: https://cst-game.github.io/docs/
theme:
  name: material

markdown_extensions:
  - toc:
      permalink: true
  - footnotes
  - tables
  - def_list
  - attr_list
  - nl2br
  - admonition
  - pymdownx.details
  - pymdownx.superfences

plugins:
  - search
  - callouts

nav:
  - Home: index.md